# Learning Paradigms Overview

## Unsupervised Learning - Association

### Association Rule Mining Using FP Growth Algorithm

In [1]:
#import libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules,apriori

In [2]:
#get data
dataset = pd.read_csv("supermarket.csv")
dataset.head()

,department1,department2,department3,department4,department5,department6,department7,department8,department9,'grocery misc',...,department208,department209,department210,department211,department212,department213,department214,department215,department216,total
0,?,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,high
1,t,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,low
2,?,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,low
3,t,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,low
4,?,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,low

In [3]:
dataset = dataset.replace('?',False)
dataset = dataset.replace('t',True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_8452\581641966.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset = dataset.replace('?',False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8452\581641966.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset = dataset.replace('t',True)

In [4]:
dataset.head()

,department1,department2,department3,department4,department5,department6,department7,department8,department9,'grocery misc',...,department208,department209,department210,department211,department212,department213,department214,department215,department216,total
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,high
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,low
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,low
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,low
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,low

In [5]:
#One hot encoding for total 
one_hot_total = pd.get_dummies(dataset['total'])
dataset = pd.concat([dataset,one_hot_total],axis =1)
dataset = dataset.drop('total',axis =1)
dataset.head()

,department1,department2,department3,department4,department5,department6,department7,department8,department9,'grocery misc',...,department209,department210,department211,department212,department213,department214,department215,department216,high,low
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [6]:
dataset = dataset.replace(0,False)
dataset = dataset.replace(1,True)
dataset.head()

,department1,department2,department3,department4,department5,department6,department7,department8,department9,'grocery misc',...,department209,department210,department211,department212,department213,department214,department215,department216,high,low
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

##### FP Growth

In [7]:
#obtaining frequent itemsets using FPGrowth
frequent_itemsets1 = fpgrowth(dataset, min_support=0.5, use_colnames=True)

In [8]:
frequent_itemsets1

     support                        itemsets
0   0.719689              ('bread and cake')
1   0.640156                         (fruit)
2   0.639939                    (vegetables)
3   0.635185                    (milk-cream)
4   0.604063                ('baking needs')
5   0.587206                ('frozen foods')
6   0.563000                      (biscuits)
7   0.532310             (juice-sat-cord-ms)
8   0.503566           ('party snack foods')
9   0.637130                           (low)
10  0.502485       ('bread and cake', fruit)
11  0.505079  ('bread and cake', milk-cream)

In [9]:
rules_by_lift1 = association_rules(frequent_itemsets1,metric="lift",min_threshold=0.8)
rules_by_lift1.shape

(4, 10)

In [10]:
rules_by_lift1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,('bread and cake'),(fruit),0.719689,0.640156,0.502485,0.698198,1.090670,0.041773,1.192320,0.296570
1,(fruit),('bread and cake'),0.640156,0.719689,0.502485,0.784943,1.090670,0.041773,1.303425,0.231022
2,('bread and cake'),(milk-cream),0.719689,0.635185,0.505079,0.701802,1.104878,0.047944,1.223398,0.338634
3,(milk-cream),('bread and cake'),0.635185,0.719689,0.505079,0.795168,1.104878,0.047944,1.368496,0.260194

In [11]:
rules_by_conf1 = association_rules(frequent_itemsets1,metric="confidence",min_threshold=0.6)
rules_by_conf1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,('bread and cake'),(fruit),0.719689,0.640156,0.502485,0.698198,1.090670,0.041773,1.192320,0.296570
1,(fruit),('bread and cake'),0.640156,0.719689,0.502485,0.784943,1.090670,0.041773,1.303425,0.231022
2,('bread and cake'),(milk-cream),0.719689,0.635185,0.505079,0.701802,1.104878,0.047944,1.223398,0.338634
3,(milk-cream),('bread and cake'),0.635185,0.719689,0.505079,0.795168,1.104878,0.047944,1.368496,0.260194

##### Using Apriori Method

In [12]:
frequent_itemsets2 = apriori(dataset, min_support=0.5, use_colnames=True)
frequent_itemsets2

     support                        itemsets
0   0.719689              ('bread and cake')
1   0.604063                ('baking needs')
2   0.532310             (juice-sat-cord-ms)
3   0.563000                      (biscuits)
4   0.587206                ('frozen foods')
5   0.503566           ('party snack foods')
6   0.635185                    (milk-cream)
7   0.640156                         (fruit)
8   0.639939                    (vegetables)
9   0.637130                           (low)
10  0.505079  ('bread and cake', milk-cream)
11  0.502485       ('bread and cake', fruit)

In [13]:
rules_by_lift2 = association_rules(frequent_itemsets2,metric="lift",min_threshold=0.8)
rules_by_lift2.shape

(4, 10)

In [14]:
rules_by_lift2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,('bread and cake'),(milk-cream),0.719689,0.635185,0.505079,0.701802,1.104878,0.047944,1.223398,0.338634
1,(milk-cream),('bread and cake'),0.635185,0.719689,0.505079,0.795168,1.104878,0.047944,1.368496,0.260194
2,('bread and cake'),(fruit),0.719689,0.640156,0.502485,0.698198,1.090670,0.041773,1.192320,0.296570
3,(fruit),('bread and cake'),0.640156,0.719689,0.502485,0.784943,1.090670,0.041773,1.303425,0.231022

In [15]:
rules_by_conf2 = association_rules(frequent_itemsets2,metric="confidence",min_threshold=0.6)
rules_by_conf2.shape

(4, 10)

In [16]:
rules_by_conf2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,('bread and cake'),(milk-cream),0.719689,0.635185,0.505079,0.701802,1.104878,0.047944,1.223398,0.338634
1,(milk-cream),('bread and cake'),0.635185,0.719689,0.505079,0.795168,1.104878,0.047944,1.368496,0.260194
2,('bread and cake'),(fruit),0.719689,0.640156,0.502485,0.698198,1.090670,0.041773,1.192320,0.296570
3,(fruit),('bread and cake'),0.640156,0.719689,0.502485,0.784943,1.090670,0.041773,1.303425,0.231022

In [17]:
dataset.head()

,department1,department2,department3,department4,department5,department6,department7,department8,department9,'grocery misc',...,department209,department210,department211,department212,department213,department214,department215,department216,high,low
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True